.success {
    color: green;
    font-size: 50px;
}

.error {
    color: red;
    font-size: 20px;
}

.large {
    color: red;
    font-size: 50px;
}

.small {
    color: green;
    font-size: 20px;
}

.meow {
    background-color: black;
}

.nvm {
    color: green;
}

.kms {
    font-size: 55px;
}